<html>
 <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="mystyle.css" />
  <title>Daily Notes App</title>
  <script>
   function sign() { if(document.getElementById("drop-down").style.display != "none"){
   document.getElementById("drop-down").style.display = "none"; } else{ document.getElementById("drop-down").style.display =
   "block" } } function addNote() { document.getElementById("new-Note").style.display= "block";
   document.getElementById("search_Notes").style.display= "none"; document.getElementById("date").value= new Date(); } function
   searchNotes() { window.location.assign("/view_Notes");} $(document).ready(function(){ $("#search").on("keyup", function() { var
   value = $(this).val().toLowerCase(); $("#table tr").filter(function() {
   $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1) }); }); });
  </script>
 </head>
 <body>

  <div>
   <h1 class="header" style="text-align: left;">Add Daily Notes</h1>
   <div class="dot" onclick="sign()">
    <div style="border: none;padding:0px;"><p class="dot-button">{{un}}</p></div>
   </div>
   <diV class="drop-down" id="drop-down"><a class="btn btn-danger" href="/logout">Logout</a></diV>
  </div>

  <div style="height: 48px;visibility:{{display}}">
   <div class="alert {{alert_type}} alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{success}}</strong>
   </div>
  </div>

  <div>
   <div style="width:10%;text-align:center;margin-top:40px; float:left;">
    <div style="margin-bottom:18px;margin-left:8px;">
     <button class="btn btn-primary" style="width: 128px;" onclick="addNote()">Add Note</button>
    </div>
    <div style="margin-left:8px;">
     <button class="btn btn-primary" style="width: 142px;" onclick="searchNotes()">Search All Notes</button>
    </div>
   </div>
   <div id="new-Note" style="width:90%; margin-left:48px; margin-top:40px;display: {{add_Notes_Div_Display}};">
    <div class="container">
     <h2>New Note</h2>
     <form action="/new_Note" method="POST">
      <div class="form-group">
       <label for="Date">Date:</label>
       <input type="text" class="form-control" id="date" placeholder="Enter Date" name="date" required />
      </div>
      <div class="form-group">
       <label for="title">Title:</label>
       <input type="text" class="form-control" id="title" placeholder="Enter title" name="title" required />
      </div>
      <div class="form-group">
       <label for="detail">Detail:</label>
       <textarea type="textarea" class="form-control" id="detail" rows="5" placeholder="Enter detail" name="detail"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
     </form>
    </div>
   </div>

   <div
    id="search_Notes"
    style="width:90%; margin-left:48px; margin-top:40px;display: {{search_Notes_Div_Display}};margin-bottom: 88px;"
   >
    <div class="container">
     <input type="text" class="form-control" placeholder="filter" id="search" style="margin-bottom: 18px;" />
     <table class="table table-bordered table-hover">
      <thead class="thead-dark">
       <tr>
        <th style="text-align: center;">Date</th>
        <th style="text-align: center;">Title</th>
        <th style="text-align: center;">Detail</th>
        <th style="text-align: center;">Update/Delete</th>
       </tr>
      </thead>
      <tbody id="table">
       {{#each result}}
        <tr>
         <form action="/update_Note" method="POST">
          <td name="date">{{this.date}}</td>
          <td><textarea
            type="textarea"
            name="title"
            style="border: none;height:110px;"
            class="title-field form-control"
            required
           >{{this.title}}</textarea></td>
          <td><textarea
            type="textarea"
            name="detail"
            style="border: none; height:110px;"
            class="title-field form-control"
           >{{this.detail}}</textarea></td>
          <td style="text-align: center;"><div style="margin-bottom:12px;"><button
             type="submit"
             class="btn btn-info"
             onclick="document.getElementById('Update_Delete').value='Update,{{this.date}}'"
            >Update</button></div><input type="text" name="Update_Delete" id="Update_Delete" style="display: none;" /><button
            type="submit"
            class="btn btn-danger"
            onclick="document.getElementById('Update_Delete').value='Delete,{{this.date}}'"
            style="width:78px;"
           >Delete</button></td>
         </form>
        </tr>
       {{/each}}
      </tbody>
     </table>
    </div>
   </div>
  </div>
  <h1 class="footer">This is a sample App</h1>
  <script>
   document.getElementById("date").value= new Date(); window.history.forward();
  </script>
 </body>
</html>